form, fieldset {
    padding:10px 20px ;
    background-color: #FFF6BF;
    border-radius: 10px;
    font-size: 1.2em;
    margin: 0 30%;
    /*margin: auto;*/
}
input, textarea, .button, select {
    margin: 10px 0;
    font-size: 0.75em;
    border-radius: 10px;
    max-inline-size: fit-content;
}

 input[type="submit"]{
     background-color: #C3F8FF;
     padding: 5px 20px;
 }

 .button {
     padding: 5px 20px;
     font-size: 1em;
 }
 .invalid {
    font-size: 12px;
    color: darkred;
}