:root {
    --navbar-font-size: 1.5rem;
    --navbar-height: 60px;
    --user-height: calc(var(--navbar-height)*3/4)
}
*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", ui-system, sans-serif;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  margin-top: var(--navbar-height);
}

a {
    text-decoration: none;
    color: unset;
}

.navbar {
    display: flex;
    height: var(--navbar-height);
    background-color: #1db8fc;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#hamburger, .top-nav, .vertical-nav.dropdown {display: none}

.horizontal-nav{
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-top: 0;
    flex-direction: row;
    width: 100%;
    height: var(--navbar-height);
}

.navbar a {
    float: left;
    padding: calc((var(--navbar-height) - var(--navbar-font-size)/(7/9))/2) 15px;
    margin: 0;
    color: #FFEBAD;
    text-align: center;
    height: var(--navbar-height);
    line-height: calc(var(--navbar-font-size));
    font-size: var(--navbar-font-size);
    font-weight: bold;
}

a.nav-link, a.auth button {
    text-decoration: none;
    font-size: var(--navbar-font-size);
    font-weight: bold;
}
.nav-link {
    color: #FFEBAD;
}
a.user button {margin: 0}
a.user {
    float: right;
    margin-right: 0;
    padding: calc((var(--navbar-height) - var(--user-height)) / 2) 5px calc((var(--navbar-height) - var(--user-height)) / 2) 0 ;
}
a.right {
    margin-left: auto;
}

.navbar button {
    border: none;
    text-align: center;
    padding: 5px 10px;
    margin: 5px;
    color: #122ac9;
    border-radius: 10px;
}
.current {
    background-color: cornflowerblue;
}
.navbar a img, a.auth button{
    height: var(--user-height);
}
.button {
    background-color: #FFEBAD;
}
nav.navbar div a.user {
    margin-bottom: 0;
}

@media screen and (max-width: 900px){
    :root{
        --navbar-font-size: 1.35rem;
        --navbar-height: 50px;
        --user-height: calc(var(--navbar-height)*3/4);;
    }
    a#log-out button {
        font-size: 1.15rem;
        height: calc(20px + 1.15rem);
    }
    a#log-out {
        padding-top: calc((var(--navbar-height) - calc(20px + 1.15rem))/2);
        padding-bottom: calc((var(--navbar-height) - calc(20px + 1.15rem))/2);
    }
}

@media screen and (max-width: 740px){
    :root{
        --navbar-font-size: 1.2rem;
        --navbar-height: 40px;
        --user-height: calc(var(--navbar-height)*3/4);;
    }
    a#log-out button {
        font-size: 1rem;
        height: calc(15px + 1rem);
    }
    a#log-out {
        padding-top: calc((var(--navbar-height) - calc((15px + 1rem)))/2);
        padding-bottom: calc((var(--navbar-height) - calc(15px + 1rem)/2));
    }
}

/*@media screen and (max-width: 680px){
    .navbar a.nav-link {
        padding-left: 5px;
        padding-right: 5px;
    }
}*/

@media screen and (max-width: 680px){
    .navbar a.two-lines {
        padding: calc((var(--navbar-height) - 2 * var(--navbar-font-size) / (7 / 9)) / 2) 0;
        width: 80px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media  screen and (max-width: 570px){
    .navbar a.two-lines {
        margin: 0 5px;
    }

}

@media screen and (max-width: 540px) {

     .navbar {
         --navbar-font-size: 1.75rem;
         flex-direction: column;
         display: flex;
         justify-content: space-between;
         align-items: center;
    }
    #logo, #hamburger{
        display: flex;
    }
    div#hamburger {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background: #FFEBAD;
        color: #1db8fc;
        height: var(--navbar-height);
        width: 45px;
    }
    #hamburger a {
        background: #FFEBAD;
        color: #1db8fc;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .vertical-nav {
        display: flex;
    }
    .vertical-nav a.right {
        padding-top: calc((var(--navbar-height) - var(--user-height))/2);
        padding-bottom: calc((var(--navbar-height) - var(--user-height))/2);
    }
    div.horizontal-nav, div.vertical-nav.dropdown{display:none}
    #logo {
        margin: auto;
    }
    .top-nav{
        display: flex;
        flex-direction: row;
        width: calc(100% - 45px);
        position: absolute;
        right: 0;
    }
    div.vertical-nav.dropdown.visible {
        display: flex;
        flex-direction: column;
        background-color: color-mix(in srgb, #C3F8FF 40%, #1db8fc);
    }
    .vertical-nav.dropdown.visible a {
        padding: 5px 0;
        font-size: 1.35rem;
    }
    div.visible ul .nav-link{color: #f6a74c}
}
