{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Quizzes</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="../home">Home</a></li>
            <li><a href="create_quiz">Create Quiz</a></li>
            <li class="current">My Quizzes</li>
            <li class="_navbar right"><a href="../"><button class="title button">User page</button></a></li>
            <li class="_navbar"><a href="..//logout/"><button class="title button">Log out</button></a></li>
        </ul>
    </div>
    {% include 'quizzes.html' %}
</body>
</html>