<div class="container">
    {% for q in quizzes %}
        <div class="quiz-container">
            <ul>
                <li><h3 class="title">{{ q.title }}</h3></li>
                <li><b class="title">Theme: </b>{{ q.theme }}</li>
                <li><i class="title">Description: </i>{{ q.description }}</li>
                <a href="quizzes/{{ q.title }}{{ q.id }}"><button class="button title" >Solve Quiz</button></a>
            </ul>
        </div>
    {% endfor %}
</div>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<style>
    ul {
        list-style-type: none;
        padding-left: 0;
        margin: 10px 0 0;
    }
    .container {
        font-size: 1.2em;
    }
    .button {
        position: relative;
        bottom: 5px;
        font-size: 1em;
        background-color: #FFEBAD;
    }
    li {
        margin: 5px;
    }
    .quiz-container {
        max-inline-size: 300px;
        inline-size: fit-content;
        inline-size: -moz-fit-content;
    }
    h3 {
        margin-top: 16px;
    }
</style>