{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ quiz_title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <style>
        .container {
            max-inline-size: 50%;
            background-color: #FFF6BF;
            border-radius: 10px;
            margin: auto;
            display: flex;
            flex-direction: column;
        }
        legend {color: #101be5;}
        h2 {text-align: center;}
        fieldset {margin: 10px  0;}
        input[type='submit'] {
            font-size: 1.2em;
            margin: auto
        }
    </style>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="../">Home</a></li>
        {% if user == 'yes' %}
            <li>Create Quiz</li>
            <li>My Quizzes</li>
            <li class="right"><a href="../user"><button>User page</button></a></li>
            <li><a href="../logout"><button>Log out</button></a></li>
        {% endif %}
        {% if user == 'no' %}
            <li class="right"><a href="../login"><button>Log in</button></a></li>
        {% endif %}
        </ul>
    </div>
    <div class="container">
    <h2>{{ quiz_title }}</h2>
        <form method="POST" action="result/{{ quiz_title }}{{ quiz_id }}">
        {% csrf_token %}
        {% for q in questions %}
            {% if q.type == 'TY' %}
                <label for="{{ q.id }}">{{ q.question }} <br></label>
                <input type="text" maxlength="20" name="{{ q.id }}" id="{{ q.id }}" required="true"><br>
            {% else %}
                <fieldset>
                <legend><b>{{ q.question }}</b><br></legend>
                {% for a in q.answers %}
                    {% if q.type == 'SC' %}
                    <input type="radio" name="{{ q.id }}" id="{{ a.id }}" value="{{ a.id }}">
                    {% elif q.type == 'MC' %}
                    <input type="checkbox" name="{{ q.id }}" id="{{ a.id }}" value="{{ a.id }}">
                    {% endif %}
                    <label for="{{ a.id }}">{{ a.answer }}<br></label>
                {% endfor %}
                </fieldset>
            {% endif %}
        {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>